::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ffb2c0;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8465bd;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #8465bd;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffb2c0;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.editico,
.deleteico {
  margin: 5px;
}

.navbar-brand {
  font-size: unset;
  height: 3.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

.navbar-brand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.navtitle {
  font-family: "Gilbert";
  font-size: 160%;
  color: aliceblue;
}

.col.align-self-end {
  padding-right: 0%;
}

body {
  background: url(back1.png);
  background-size: 100%;
}

.nonotes {
  color: #22171a;
  font-family: "Budget 2012 Regular";
}

.navbar {
  backdrop-filter: blur(4px);
  background: #6f6bb736;
}

.container h1 {
  font-family: "Budget 2012 Regular", "Oswald";
}

.AddInput {
  color: rgb(238, 238, 238);
}

.Addnote {
  border-radius: 20px;
  background: rgba(61, 3, 128, 0.1);
  backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  color: white;
}

.yournotes {
  border-radius: 20px;
  background: rgba(154, 78, 78, 0.1);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  margin-top: 50px;
}

.btn {
  border-radius: 20px;
  background: rgba(154, 78, 78, 0.1);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 10px 15px 10px 15px;
  overflow: hidden;
}

.card {
  background-color: #ffb2c077;
}

html {
  scroll-behavior: smooth !important;
}

.form-control {
  background-color: #22171a00;
}

.form-text {
  color: #000000;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.584);
}

.Addnote .form-control:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.19);
}

.dropdown-menu {
  border-radius: 20px;
  background: rgba(154, 78, 78, 0.1);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 10px 15px 10px 15px;
  overflow: hidden;
}

.dropdown-item,
.dropdown-divider {
  color: white;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-shadow: 0px 0px 6px #ffffff, 0px 0px 10px #ffffff;
}

.aboutpage {
  size: 100%;
}

.signuplink {
  padding-right: 10px !important;
}

.accordion-header {
  border-radius: 20px;
  background: rgba(61, 3, 128, 0.1);
  backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.accordion-button {
  background: rgba(153, 66, 252, 0.1);
  backdrop-filter: blur(20px);
  color: white;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.accordion-item {
  background-color: transparent;
  border: 0px;
  margin: 10px;
}

.accordion-collapse {
  color: white;
}

.accordion-button:focus {
  color: white;
  background-color: #9942fc8b;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
  filter: invert(1);
}

.login-box h1 {
  text-align: center;
  font-size: 46px;
}

.login-box {
  width: 50%;
  background: rgba(239, 218, 241, 0.438);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  padding: 40px;
  border-radius: 20px;
}

.login-box label {
  margin: 0;
  padding: 15px 0;
  font-family: "Bebas Neue";
  font-size: 28px;
}

.login-box input {
  width: 100%;
  margin-bottom: 2em;
}

.login-box input {
  border: none;
  border-bottom: 1.2px solid rgb(141, 14, 130);
  background: transparent;
  outline: none;
  height: 2em;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.login-box button:hover {
  background-color: rgba(77, 0, 128, 0.609);
  border-color: rgba(101, 0, 190, 0.642);
}

.login-box a {
  text-decoration: none;
  font-size: 0.75em;
  line-height: 1.7em;
  color: rgb(53, 51, 58);
  display: flex;
  flex-direction: vertical;
}

.login-box a:hover {
  color: rgb(141, 14, 130);
}

.footer {
  height: 60px;
}

.Addnote input {
  color: white;
}

.modalbtn {
  background-color: rgba(77, 0, 128, 0.609);
  border: transparent;
}

.modalbtn:hover {
  background-color: rgba(101, 0, 190, 0.642);
  border: transparent;
}

.modalbtnx {
  background-color: #d5a3ab;
  border: transparent;
}

.modalbtnx:hover {
  background-color: #ffb7c3;
}