.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editico,
.deleteico {
  margin: 5px;
}

.navbar-brand {
  font-size: unset;
  height: 3.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

.navbar-brand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.navtitle {
  font-family: "Gilbert";
  font-size: 160%;
  color: aliceblue;
}

.col.align-self-end {
  padding-right: 0%;
}

body {
  background-image: url(back.jpg);
  background-size:contain;
}

.nonotes {
  color: #22171a;
  font-family: "Budget 2012 Regular";
}

.navbar {
  backdrop-filter: blur(4px);
  background: #6f6bb736;
}

.container h1 {
  font-family: "Budget 2012 Regular";
}

.container{
  backdrop-filter: blur(10px);
}

.card {
  background-color: #ffb2c094;
}